<div class="chart-list-container">
  <table mat-table [dataSource]="charts" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let chart">{{ chart.name }}</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let chart">{{ chart.type }}</td>
    </ng-container>

    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef>Color</th>
      <td mat-cell *matCellDef="let chart">{{ chart.color }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let chart">
        <button mat-button (click)="editChart(chart)">Edit</button>
        <button mat-button (click)="deleteChart(chart.id)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div *ngIf="charts?.length > 0">
    <highcharts-chart
      *ngFor="let chart of charts"
      [Highcharts]="Highcharts"
      [options]="chart.options"
      style="width: 100%; height: 400px; display: block"
    >
    </highcharts-chart>
  </div>
</div>
